<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>

            <p class="paragraph-text justify-text">
                방문해 주셔서 감사합니다.  <br>
                Thank you for visiting this page !&#128522; 
            </p>

            <p class="paragraph-text justify-text">
                Education &#127891
                <li>2015.02 ~ 2020.02 / 덕성여자대학교 정보통계학과(주), 컴퓨터공학과(복) <br>
                &nbsp; &nbsp; &nbsp; Information Statistic & Computer Engineering in Duksung Women's University <br>
            </li>
            </p>
            <p class="paragraph-text justify-text">
                Interests  &#128187;
                <li>Deep Learning</li>
                <li>Big Data Platform Engineering</li>
                &nbsp; &nbsp; &nbsp;

            </p>
            <p class="paragraph-text justify-text">
                I like exploring and studying new stuffs because i am curious about various fields and technologies. I am a person who actively knows how to solve problems and always tries to improve my skills and career &#127919;.               
            </p>
            <p class="paragraph-text justify-text">
                 I post my Data Science & Data Analysis projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
